/******** plan/material page **********/
.folder-block {
  display: inline-table;
  width: 90px;
  margin: 20px 5px;
}

/********    layout/navbar   **********/
#logo {
  padding-left: 45px;
}

.nav_margin {
  height: 45px;
}


/********* lessons *********/

.daily-todo {
  padding-left: 50px;
}
